<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.test.mapper.TestMapper">

    <select id="selectTest" resultType="com.test.test.model.TestModel">
    SELECT *
      FROM  test.test_table
    </select>

    <insert id="saveTest" parameterType="com.test.test.model.TestModel">
    INSERT
      INTO test.test_table
    VALUES (
            null,
            #{testName},
            #{testAddres},
            #{testJob}
            )
    </insert>

    <delete id="deleteTest">
    DELETE FROM test.test_table
     WHERE TEST_NUM = #{testNum}

    </delete>

    <update id="updateTest">
    UPDATE test.test_table
       SET  TEST_NAME = #{testName}
           ,TEST_ADDRES = #{testAddres}
           ,TEST_JOB = #{testJob}
    WHERE  TEST_NUM = #{testNum}


    </update>
</mapper>